footer {
  padding: 24px;
  text-align: center;
}

.links-suporte ul {
  list-style: none;
  padding: 0;
}

.links-suporte li {
  display: inline;
  margin: 0 8px;
}

.links-suporte a:hover {
  color: white;
  
}